.closed{
	display: none;   
}


.part2{
    margin-top:15px;
	display: block;
    border:2px solid black;
    background: lightgray;
    border-radius: 5px;
}


img{
    display:block;
    border:2px solid black;
    height:10vh;
}
